.click_reveal > span{
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #D5DAEA;
    cursor: pointer;
    user-select: none;
}

.click_reveal > div {
    display: none;
}