.SpecRuleStart { color: #af0087; font-style: italic; }
.SpecRuleIndicator { color: #af0087; }
.SpecOperator { color: red; }
.Normal { background-color: #ffffff; padding-bottom: 1px; }
.SpecToken { color: #af5f00; font-weight: bold; }
.SpecRule { color: #8080ff; font-style: italic; }
.changed { background: lightgrey; }
